#root {
    text-align: center;
    background-color: #282c34;
}

.App {
    text-align: center;
    background-color: #282c34;
}

.ImageViewer {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    max-width: 90vw;
}

.ImageViewer > img {
    max-height: 90vh;
    max-width: 90vw;
}

.Logs {
    color: aquamarine;
}

.ImagePopup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: black;
}

.ImagePopup > img {
    /* max-width: 100%; */
    /* max-height: 100%; */
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ImagePopupClose {
    position: fixed;
    width: 40px;
    height: 40px;
    padding: 0px !important;
    margin: 0px;
    bottom: 5px;
    right: 5px;
}
