#root {
    text-align: center;
    background-color: #282c34;
}

.App {
    text-align: center;
    background-color: #282c34;
}

.ImageViewer {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    max-width: 90vw;
}

.ImageViewer > img {
    max-height: 90vh;
    max-width: 90vw;
}

.Logs {
    color: aquamarine;
}
